.sidebar {
  width: 260px;
  background-color: #ffd0d0;
  height: 100%;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.sidebar-logo-img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.sidebar-brand-name {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}

.sidebar-item {
  padding: 12px 15px;
  margin: 5px 0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  color: black;
  transition: 0.3s;
}

.sidebar-item:hover,
.sidebar-item.active {
  background: rgba(231, 57, 57, 0.1);
  color: black;
}